mixin manageElement(type, name)
    a.panel-block
        .panel-icon
            i.fas.fa-edit
        span= "type-" + type + " named " + name

mixin element(element)
    .element(style="margin-left:" + element.x + "px; margin-top:" + element.y + "px; width:" + element.width + "px; height:" + element.height + "px; background-color:red;")

mixin editarea(screen, index)
    .editor(hash=screen.hash).hidden
        .viewport
            each element in screen.elements
                +element(element)
        .mapper
            nav.panel
                p.panel-heading Manage Elements
                each element in screen.elements
                    +manageElement(element.type, element.hash)
                .panel-block
                    .dropdown.newDropdown
                        .dropdown-trigger
                            button.button.is-link.is-outlined.is-fullwidth(aria-haspopup="true" aria-controls="dropdown-menu")
                                i.fas.fa-plus
                                span.space-from-icon New Element
                        .dropdown-menu#dropdown-menu(role="menu")
                            .dropdown-content
                                a.dropdown-item(onclick="newElement(\"" + screen.hash + "\", \"inputfield\");")
                                    i.fas.fa-keyboard
                                    span.space-from-icon Input field
                                a.dropdown-item(onclick="newElement(\"" + screen.hash + "\", \"textbox\");")
                                    i.fas.fa-align-left
                                    span.space-from-icon Text box
                                a.dropdown-item(onclick="newElement(\"" + screen.hash + "\", \"background\");")
                                    i.fas.fa-image
                                    span.space-from-icon Background

mixin screenview(screen, index)
    .viewholder(onclick="select(" + index + ");")
        span.index.is-pulled-right= index+1
        .screenview.is-pulled-right
            p screen