mixin element(element)
    .element-box(style="margin-left:" + element.x + "px; margin-top:" + element.y + "px;" hash=element.hash)
        .adj-point.left.top.hidden
        .adj-point.right.top.hidden
        .mid.hidden
            .adj-point.left.hidden
            .adj-point.right.hidden
        .adj-point.center.top.hidden
        .adj-point.center.bottom.hidden
        .adj-point.left.bottom.hidden
        .adj-point.right.bottom.hidden
        .element(style="width:" + element.width + "px; height:" + element.height + "px; background:" + element.background + ";")
            if element.type == "inputfield"
                textarea.textarea(placeholder="Text")
        .modal(use="background")
            .modal-background
            .modal-card
                header.modal-card-head
                    p Background
                section.modal-card-body
                    p Hello mr
                footer.modal-card-foot
                    a.button.is-success Done


mixin editarea(screen)
    .editor.hidden(hash=screen.hash)
        +viewport(screen)
        .modal(use="base")
            .modal-background
            .modal-content
                +viewport(screen)
            button.modal-close.is-large(aria-label="close" onclick="cancelDemonstration();")

mixin viewport(screen)
    .viewport(style="height: " + viewport.height + "px; width: " + viewport.width + "px;")
        .viewport-border
        each element in screen.elements
            +element(element)

mixin screenview(screen, index)
    .viewholder(corresponding=screen.hash)
        span.index.is-pulled-right= index+1
        .screenview.is-pulled-right
            p screen