#nav-container
    nav.navbar.is-transparent(role="navigation" aria-label="main navigation")
        .navbar-brand
            span.navbar-item#name BIOTECH
            a.navbar-item(href="") My Projects > 