mixin sheet(link)
    link(rel="stylesheet" href=link)

+sheet("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
+sheet("styles/navbar.css")
+sheet("https://fonts.googleapis.com/css?family=Bungee+Inline")
+sheet("styles/global.css")
+sheet("https://use.fontawesome.com/releases/v5.2.0/css/all.css")