/*------------------------------------------| CONSTANTS*/

:root {
    --unselected-color: rgb(190, 190, 190);
    --hover-background: rgba(185, 184, 184, 0.219);
    --selected-color: rgb(116, 114, 114);
    --selected-background: rgba(94, 94, 94, 0.219);
}

/*------------------------------------------| MAIN ELEMENTS*/

#nav-container {
    padding-bottom: 0;
}

html, body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

/*------------------------------------------| BODY PARTS*/

#area {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
}

/*------------------------------------------| SCREENVIEW AREA*/

#screenviews {
    flex: 0 1 auto;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow-y: auto;

    height: 100%;
    width: 140px;

    border-right: 1px solid grey;
}

.viewholder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex-shrink: 0;

    width: 100px;
    
    padding: 0.5vh;
    margin: 7%;
}

.viewholder.selected, .viewholder.selected:hover {
    background-color: var(--selected-background);
}

.viewholder:hover {
    background-color: var(--hover-background);
}

.index {
    font-weight: bold;
    font-size: 0.8em;
    color: var(--unselected-color);

    margin-right: 10%;
}

.selected .index {
    color: var(--selected-color);
}

.screenview {
    border-radius: 7px;
    border: 3px solid var(--unselected-color);
    height: 112px;
    width: 63px;
    padding: 4%;
}

.selected .screenview {
    border-color: var(--selected-color);
}

.newscreen {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/*------------------------------------------| EDITOR*/

.editor {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/*------------------------------------------| VIEWPORT*/

.viewport {
    margin: 0.5% 5%;
    margin-bottom: 0;

    height: 688px;
    width: 387px;

    overflow: hidden;
    position: relative;

    border-radius: 20px;
    border: 5px solid grey;
}

.element-box {
    border: 4px solid #3273dc;
    position: absolute;
    cursor: move;
}

.element {
    cursor: default;
}

.adj-point {
    flex: 0 0 auto;
    height: 8px;
    width: 8px;
    background-color: purple;
    position: absolute;

    --negative-margin: -5.7px;
}

.mid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: default;
}

.adj-point.center {
    margin-left: 47%;
}

.adj-point.left {
    margin-left: var(--negative-margin);
}

.adj-point.left:hover {
    cursor: w-resize;
}

.adj-point.top {
    margin-top: var(--negative-margin);
}

.adj-point.top:hover {
    cursor: n-resize;
}

.adj-point.bottom {
    bottom: 0px;
    margin-bottom: var(--negative-margin);
}

.adj-point.bottom:hover {
    cursor: s-resize;
}

.adj-point.right {
    right: 0px;
    margin-right: var(--negative-margin);
}

.adj-point.right:hover {
    cursor: e-resize;
}

.adj-point.top.left:hover {
    cursor: nw-resize;
}

.adj-point.bottom.left:hover {
    cursor: sw-resize;
}

.adj-point.top.right:hover {
    cursor: ne-resize;
}

.adj-point.bottom.right:hover {
    cursor: se-resize;
}

/*------------------------------------------| MAPPER*/

.mapper {
    flex: 0 1 auto;
    width: 40%;
    max-width: 400px;
    padding: 1%;
}

.newDropdown,
.newDropdown .dropdown-trigger,
.newDropdown .dropdown-menu {
    width: 100%;
}