:root {
    --nav-link-color: hsl(204, 86%, 53%);
}

#nav-container {
    padding-bottom: 2%;
}

.navbar[role=navigation] {
    background-color: rgb(34, 34, 34);
}

.navbar[role=navigation] .navbar-brand {
    text-align: center;
    display: block;
    width: 100%;
}

.navbar[role=navigation] .navbar-brand > .navbar-item,
.navbar[role=navigation] .navbar-brand .navbar-link {
  display: inline-block;
}

.navbar[role=navigation] .navbar-item {
    color: var(--nav-link-color);
}

.navbar[role=navigation] #name {
    font-family: "Bungee Inline";
    font-size: 1.7em;
    color: rgb(224, 216, 67);
}